.skill1{
    margin-top: -6rem;
    margin-bottom: 7rem;
}
#skillspan{
    font-size: 2.5rem;
    font-weight: bold;
}
#skill_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
