#nav-menu{
  padding: 0px 0px ;
}
.n-wrapper {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  flex: 10;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

#darkkk > ul :hover {
  color: var(--orange);
  cursor: pointer;
}
#lighttt > ul :hover {
  color: white;
  cursor: pointer;
}
.n-button {
  flex: 2;
  margin-right: 40px;
}

#nav-menu {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 5px 5px;
}

.darknavbar {
  background-color: black;
}
.lightnavbar{
  background-color:var(--yellow);
}
@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
  #hamburger_icon {
    display: block;
  }
  #disable_resume{
    display: none;
  }
}

@media screen and (min-width: 820px) {
  #hamburger_icon {
    display: none;
  }
}
